.site-hero li {
  list-style-type: circle;
}
#homePic,
#intro {
  -webkit-animation: fadeInUp 0.5s;
  /* Safari 4.0 - 8.0 */
  animation: fadeInUp 0.5s;
}
#homePic {
  box-shadow: 3px 3px 5px 3px gray;
  height: 50vh;
  max-width: 90vw;
  vertical-align: middle;
}
#hello {
  font-size: 40px;
}
@media (max-width: 767.98px) {
  #homePic {
    width: 70%;
    height: 70%;
  }
}
.site-hero {
  /* Shadow for home */
  -webkit-box-shadow: 0px 20px 21px 0px rgba(187, 201, 206, 0.6);
  box-shadow: 0px 20px 21px 0px rgba(187, 201, 206, 0.6);
  background-color: $lightercolor;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  h1 {
    font-weight: 200;
    margin-bottom: 20px;
    display: block;
  }
  h1 strong {
    font-weight: 800;
  }
  h1,
  .lead {
    font-weight: 200;
    color: $darkercolor;
  }
  .lead {
    line-height: 2;
  }
  .site-subheading {
    max-width: 640px;
    margin: 0 auto;
    color: $darkercolor;
  }
}
.site-hero,
.site-hero .row {
  height: 100vh;
  min-height: 800px;
}
