.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*Damit Karten bei kleineren Bildschirmen, in die nächste Reihe gehen*/
}
/* Flip of cards */
.flip {
  text-align: center;
  /* überschrift centered */
  display: inline-block;
  margin: 0.5em auto;
  /* Abstand zwischen Boxen + gecentered*/
  width: 40%;
  /*Größe wird durch MediaQueries noch verändert*/
  word-wrap: break-word;
  /* opacity: 0; */

  &.isVisible {
    /* opacity: 1; */
    -webkit-animation: slideInUp 1s;
    /* Safari 4.0 - 8.0 */
    animation: slideInUp 1s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  .front {
    .site-service-item > h3 {
      margin-bottom: 1.5em;
    }
  }

  .front,
  .back {
    min-height: 100%;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    > p {
      text-align: justify;
    }
  }

  /* Abstand Frontseite Überschrift zu Text darunter */
  .back {
    padding: 2em 2em 1em 2em;
  }

  .front:hover,
  .back {
    background-color: $lightercolor;
    /* Firefox */
    /* WebKit */
    -webkit-transition: all 0.2s ease-in;
    /* Opera */
    /* Standard */
    transition: all 0.2s ease-in;
    border-radius: 0.3rem;
  }
}
#processPlan {
  left: 43%;
}

/* kleine Anpassung der Symbole */
.fa-java {
  padding-right: 40%;
}

.fa-python {
  padding-left: 40%;
}
.flip .front .site-service-item > h3 {
  margin-bottom: 1.5em;
}
//.............................
.site-service-item {
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  .icon {
    display: block;
    margin-bottom: 50px;
    background: $lightercolor;
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto 30px auto;
  }
}
/* Symbole für Skillkarten */
i,
svg {
  max-height: 60px;
  font-size: 40px;
  color: $darkercolor;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.fa-project-diagram {
  top: 52%;
}
.site-service-item h3,
.flip .back h3 {
  font-size: 20px;
  font-weight: 200;
}
/* animation delay does not work out, because as soon as they are visible (.isVisible) they are visible, but the animation begins later */
/* .flip.isVisible:nth-child(1),
    .flip.isVisible:nth-child(3) {
      -webkit-animation-delay: 500ms;
      animation-delay: 500ms;
    }
    .flip.isVisible:nth-child(2),
    .flip.isVisible:nth-child(4) {
      -webkit-animation-delay: 1000ms;
      animation-delay: 1000ms;
    } */
@media (max-width: 767.98px) {
  .flip {
    display: inline-block;
    margin: 0.5em 0;
    width: 100%;
  }
}
