$darkercolor: #4e3c54;
$lightercolor: #bbc9ce;
$white: #fff;
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Montserrat",
    sans-serif;
}

@import "_Navbar.scss";
@import "_Home.scss";
@import "_About.scss";
@import "_Services.scss";
@import "_Footer.scss";

//Sass function tricks
//use mixin by "include flexCenter(anyFlexDirection);"
@mixin flexCenter($flexdirection, $background) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: $flexdirection;
  flex-direction: $flexdirection;
  background-color: $background;
}
//have the same attributes as other class
//.class{extends othercCass;}
h1,
h2,
h3,
h4,
h5 {
  color: $darkercolor;
  font-weight: 200;
}
a:not(#workLinks, .social-item):hover {
  color: #ffffff;
  text-decoration: none;
}
@mixin linkAnimation($color) {
  position: relative;
  font-style: italic;
  text-decoration: none;
  color: $color;
  /* Damit Link nicht gebrochen werden und Animatoin funktioniert */
  display: inline-block;
  &::after {
    content: "";
    width: 0;
    height: 1px;
    background-color: $color;
    position: absolute;
    bottom: 0%;
    left: 50%;
    border-radius: 1em;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  &:hover::after {
    left: 0%;
    width: 100%;
  }
}
.linkAnimation {
  @include linkAnimation($white);
}
/* Animation for links with light background */
.linkAnimationWhiteBackground {
  @include linkAnimation($darkercolor);
}
// .flip > .back > p > a {
//   color: #fff;
//   font-style: italic;
//   display: inline-block;
//   &:hover {
//     text-decoration: underline;
//   }
// }
//used in Home & About
.lead {
  font-weight: 200;
  line-height: 1.5;
}
//used in About & Services
.site-section {
  padding: 2em 0 0 0;
}
//used in About & Services
.section-heading {
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
  h2 {
    position: relative;
    font-weight: 200;
    padding-top: 20px;
    font-size: 30px;
    strong {
      font-weight: 800;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 50px;
      background: $darkercolor;
      z-index: -1;
    }
  }
  &.text-center h2:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

//not used
/*
.site-link {
  position: relative;
  i {
    position: relative;
    top: 2px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    &:hover i {
      position: relative;
      margin-left: 20px;
    }
  }
}

.btn {
  border-radius: 100px;
  letter-spacing: 0.1em;
  &:active,
  &:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}
*/

@media (min-width: 767.98px) {
  .site-hero h1 {
    font-size: 70px;
  }
}
@media (max-width: 575.98px) {
  #Home > .container {
    margin-top: 60px;
  }
  #Home {
    // to counteract the overflow, which exists because of the margin-top of the container
    height: 200%;
    // overflow: auto;
  }
}
